/* Custom styles for Hydrosafe */

/* Barra de navegación */
.navbar {
    margin-bottom: 2rem;
}

.navbar-nav .nav-item .nav-link {
    color: #f8f9fa; /* Color claro para los enlaces */
    padding: 10px 20px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffc107; /* Color dorado cuando el mouse pasa por encima */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

/* Estilo para la barra de navegación activa */
.navbar-nav .nav-item.active .nav-link {
    color: #ffc107; /* Dorado para el enlace activo */
    font-weight: bold;
}

/* Estilo del nombre del sitio (navbar-brand) */
.navbar-brand {
    font-weight: bold;
    color: #ffffff;
}

.navbar-brand:hover {
    color: #ffc107; /* Dorado al pasar el mouse */
}

/* Estilos para las tarjetas */
.card {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Bordes redondeados */
}

.card-title {
    color: var(--bs-info);
    margin-bottom: 1rem;
    font-weight: bold;
}

.card-body {
    padding: 1.5rem; /* Relleno más grande para el contenido */
}

/* Estilos para los enlaces de la lista */
.list-group-item {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

/* Estilos específicos para el dashboard */
#metricsChart {
    min-height: 300px;
    background-color: #2c2f36; /* Fondo oscuro para el gráfico */
    border-radius: 8px;
    border: 1px solid #444;
}

/* Estilos de texto */
.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #ffffff; /* Color blanco para los títulos grandes */
}

.lead {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #bbb; /* Color más suave para los párrafos introductorios */
}

.text-muted {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.7); /* Color gris claro */
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    max-width: 400px;  /* Ajusta el ancho */
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
