{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Administrar Usuarios</h2>
    <p>Lista de usuarios registrados en el sistema.</p>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.to_dict().email }}</td>
                <td>{{ user.to_dict().rol }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
