{% extends "base.html" %}

{% block title %}Contáctanos - Hydrosafe{% endblock %}

{% block content %}
<!-- CONTACT SECTION -->
<section class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="display-4 mb-4 text-primary">Contáctanos</h2>
            <p class="lead mb-4">
                Si tienes preguntas o necesitas más información sobre nuestras soluciones, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte.
            </p>
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-body p-5">
                    <h4 class="card-title text-primary">Formulario de Contacto</h4>
                    <form action="/enviar_contacto" method="POST">
                        <div class="form-group mb-4">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="email">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="message">Mensaje</label>
                            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h2 class="display-4 mb-4 text-primary">Información de Contacto</h2>
            <ul class="list-unstyled">
                <li><strong>Dirección:</strong> Eschberger Weg 46, 66121 Saarbrücken, Alemania</li>
                <li><strong>Teléfono:</strong> +49 123 456 789</li>
                <li><strong>Correo Electrónico:</strong> <a href="mailto:info@hydrosafe.com">info@hydrosafe.com</a></li>
                <li><strong>Horario de Atención:</strong> Lunes a Viernes, 9:00 AM - 6:00 PM</li>
            </ul>
            <h4 class="mt-5 text-primary">Síguenos en Redes Sociales</h4>
            <ul class="list-unstyled d-flex">
                <li><a href="#" class="text-primary mx-2"><i class="fab fa-facebook fa-2x"></i></a></li>
                <li><a href="#" class="text-primary mx-2"><i class="fab fa-twitter fa-2x"></i></a></li>
                <li><a href="#" class="text-primary mx-2"><i class="fab fa-linkedin fa-2x"></i></a></li>
                <li><a href="#" class="text-primary mx-2"><i class="fab fa-instagram fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
